:root {
    --white: #ffffff;
    --black: #212121;
    --primary: #2a5994;
    --secondary: #d8ae2f;

    --gray: #c9c9c9;

    --primary-fontsize: 3rem;
}

/* Globals */

html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* Box model hack */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font: 16px;
    /* 1rem = 10px */
    font-family: "Rubik", sans-serif;
    /* background-image: linear-gradient(to top, #dfe9f3 0%, var(--white) 100%); */
}

header {
    justify-content: center;
    display: flex;
    background-color: #3f80cf;

}

header h1 {
    color: lavenderblush;
    font-weight: 450;
}

main {
    background-color: #dbdbdb;
}

body {
    background-color: #cacaca;
}

.container {
    /* width: 120rem; */
    max-width: 120rem;
    margin: 0 auto;
}

.button {
    background-color: var(--secondary);
    color: var(--white);
    padding: 1rem 3rem;
    margin-top: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    width: 90%;
    font-size: 2rem;
    border-radius: .5rem;
    border: none;
}

.button:hover {
    cursor: pointer;
}

@media (min-width: 480px) {
    .button {
        width: auto;
    }
}

.shadow {
    -webkit-box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 1);
    border-radius: .5rem;
}

/* Typography */

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

h1,
h2,
h3 {
    text-align: center;
}

.stroked-text {
    text-decoration: line-through;
}

/* .coming-soon-service {
} */

.coming-soon-service::after {
    font-style: italic;
    font-size: 1.25rem;
}


.nav-bg {
    background-color: var(--primary);
}

/* 
.main-nav {
    display: flex;
    flex-direction: column;
} */
.main-nav {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


.main-nav a {
    width: auto;
    transition: all 0.25s;
    display: block;
    text-align: center;
    color: var(--white);
    text-decoration: none;
    font-size: 1.50rem;
    font-weight: 200;
    padding: 1rem;
}

@media (min-width: 768px) {

    /* .main-nav {
        flex-direction: row;
        justify-content: space-evenly;
    } */
    .main-nav a {
        font-size: 1.66rem;
        font-weight: normal;
    }
}


.main-nav a:hover {
    background-color: var(--secondary);
    color: var(--black);
    border-radius: .5rem;
}

.hero {
    /* background-image: url("../assets/banner.jpeg"); */
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
    height: 450px;
    position: relative;
    /* margin-bottom: 2rem; */
    margin: 0;
}

/*
.hero-content {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.712);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-content h2 {
    font-weight: normal;
}

.hero-content h2,
p {
    color: var(--white)
}


.hero-content .location p {
    font-size: 1.5rem;
}

.hero-content .location {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center; 
} */



.slider-button-container {
    text-align: center;
}

.slider-container {
    height: 45rem;
    width: 100%;
}

.slider {
    height: 45rem;
    max-height: 45rem;
    width: 100%;
    position: relative;
    display: flex;
    background-color: #000000;
    align-items: center;
    justify-content: center;
}

.slider-image {
    height: 45rem;
    width: 100%;
    position: absolute;
}

@media (max-width: 768px) {

    .slider,
    .slider-image,
    .slider-container {
        height: 22.5rem;
    }
}

@media (max-width: 480px) {

    .slider,
    .slider-image,
    .slider-container {
        height: 22.5rem;
    }
}

.slider-image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    vertical-align: middle;
    justify-content: center;
}


.slider-image img:hover+.description,
.description:hover {
    color: rgb(242, 242, 242, 1);
    visibility: visible;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    background: rgba(0, 0, 0, 0.5);
}

.previmg,
.nextimg {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    background-color: var(--primary);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.previmg {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.nextimg {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previmg:hover,
.nextimg:hover {
    background-color: var(--secondary)
}

.description {
    transition: all 0.5s;
    color: rgba(242, 242, 242, 0);
    background: rgba(0, 0, 0, 0);
    font-size: 16px;
    right: 0;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    text-justify: distribute;
    visibility: hidden;
    cursor: pointer;
}

.enumeration {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.description,
.enumeration {
    text-shadow: none;
    z-index: 2;
}

/* .description::after,
.enumeration ::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
} */

.slider-point {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 1rem 1rem;
    background-color: #C0C0C0;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.slider-point:hover {
    background-color: var(--primary);
}

.slider-image {
    display: none;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width: 480px) {

    .previmg,
    .nextimg,
    .description {
        font-size: 11px;
    }

    .slider {
        max-width: 100%;
    }
}


/*
 About Me
*/

.aboutme {
    width: 75%;
    /* margin: 0 auto; */
    align-items: center;
    justify-content: center;
}

.aboutme p {
    font-size: 2rem;
    text-align: center;
}

@media (max-width: 480px) {
    .aboutme {
        width: 90%;
    }

    .aboutme p {
        font-size: 2rem;
    }
}

.skillset {
    width: 50%;
    height: fit-content;
    display: flex;
    grid-template-columns: repeat(10, 1fr);
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    gap: 1rem;
}
.skillset div {
    width: 4.4rem;
    height: 4.4rem;
    position: relative;
}

.skillset div img {
    width: 100%;
    height: 100%;
}

.skillset div p {
    position: absolute;
    top: -90%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.25s;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0);
    text-shadow: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    z-index: 5;
    opacity: 0;
    text-align: center;
    border-radius: 0.5rem;
}

.skillset div img:hover+p {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.75);
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    opacity: 1;
}



.skillset div img {
    transition: all 0.25s;
}

.skillset div img:hover {
    width: 5.5rem;
    height: 5.5rem;
    margin: -1.2rem -0.6rem;
    background-color: rgba(216, 174, 47, 0.7);;

}


@media (max-width: 480px) {
    .skillset {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        width: 100%;
    }
}

.skillset img {
    width: 4.4rem;
    height: 4.4rem;
    object-fit: contain;
    -webkit-box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 1);
    border-radius: .5rem;
}

/*
 Services
*/

@media (min-width: 768px) {
    .services {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}

.services-title {
    padding-top: 2rem;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service .service-icon {
    height: 14rem;
    width: 14rem;
    border-radius: 50%;
    background-color: var(--secondary);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.service .service-icon img {
    border-radius: .5rem;
}


.service p,
.service ul li {
    color: var(--black);
    text-align: center;
    font-size: 2rem;
}

.service p ul li,
.service ul li {
    text-align: left !important;
}

.service h3 {
    color: var(--black);
    text-align: center;
}

.service h3 span:not(.stroked-text) {
    color: #666666;
    text-align: center;
    font-style: italic !important;
}

/* Contact */

.form {
    background-color: var(--gray);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: .6555rem;
}

.form fieldset {
    border: none;
}

.form legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
}

.fieldset-container {}

.fieldset-singlefield {
    margin-bottom: 1rem;
}

.fieldset-singlefield label {
    color: var(--black);
    font-weight: bold;
    display: block;
}

.fieldset-singlefield input[type="text"],
.fieldset-singlefield input[type="email"],
.fieldset-singlefield textarea {
    width: 100%;
    border: none;
    padding: .8rem;
    border-radius: .5rem;
}

.sendbutton .button {
    width: 100%;
}


#container {
    padding: 2rem;
}